* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  --size: 2rem; /* [1] */
  height: var(--size);

  width: var(--size); /* [3] */
}
button {
  height: 100%;
  width: 100%;
}

.board {
  --grid-size: 10;
  /* Start with 10x10 */
  display: grid;
  grid-template-rows: repeat(var(--grid-size), 1fr);
  grid-template-columns: repeat(var(--grid-size), 1fr);
}
.square {
  border: 1px solid black;
}
.green {
  background: green;
}
.red {
  background: red;
}
.board-container {
  min-width: 100%;
  min-height: 100%;
  background-color: salmon;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.game-div {
  min-height: 100%;
  min-width: 100%;
  background-color: blueviolet;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: whitesmoke;
  cursor: pointer;
}

#reversedRange {
  direction: rtl;
  /* overflow: hidden; */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: blue;
  opacity: 0.5;
  width: 10px;
  height: 26px;
  border-radius: 20%;
}
